/*p {
	color: red;
}*/

.div-1 {
	 background-color: lightblue;
	 padding: 20px;
	 border-radius: 5px;
	 width: 50%;
}
#robotdonutimage {
	border-radius: 150px;
}

#table {
	border-width: 15px;
	border-style: solid;
}

#border {
	border-style: double;
}

#section1 {
	width: 70%;
	background-color: green;
}

#section2 {
	width: 65%;
	background-color: red;
	float: left;
}

#section3 {
	width: 35%;
	background-color: yellow;
	float: right;
}